<!doctype html>

<html>
<head>
	<title>TapMusic</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link href="/css/login.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">
  <nav class="topnav">

                  <h3 align="center">TapMusic</h3>
                  <h3><a class="topright" href="tutorial/"><span class="glyphicon glyphicon-info-sign"></span></a></h3>
  </nav>
	<br>
        <div class="project">
          {{#each projects}}
              <div id={{id}} class="emoji-button">
                <button class="{{icon}}" id="{{name}}">
                </button>
              </div>
         {{/each}}
        </div>
        <div class="project">
          {{#each projects1}}
              <div id={{id}} class="emoji-button">
                <button class="{{icon}}" id="{{name}}">
                </button>
              </div>
         {{/each}}
        </div>
        <div class="project">
          {{#each projects2}}
              <div id={{id}} class="emoji-button">
                <button class="{{icon}}" id="{{name}}">
                </button>
              </div>
         {{/each}}
        </div>
<div class="fixed-bottom">
        <div>
            <span id="song-up" class="glyphicon glyphicon-chevron-up"></span>
            <h2 id="song-title">Not Playing&nbsp</h2><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-play"></span></button>&nbsp<button id="next-button" type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-forward"></span></button>
        </div>
  </div>

  </div>


<div id="myNav" class="overlay">
  <span id="song-down" class="glyphicon glyphicon-chevron-down closebtn"></span>
  <div class="overlay-content">


  <div class="dropdown show topright">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-list"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right pull-right">
        <li><a onclick="document.getElementById('login-pop').style.display='block'" style="width:auto;"><h4>Filters</h4></a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/help/"><h4>Help</h4></a></li>
    </ul>
  </div>

    <div class="jumbotron">
    <nav class="navbar navbar-light bg-light">
            <h1>{{category}}</h1>
    </nav>

        <div class="album-art-container" style="padding-bottom:100px">
                <img id="album-art" class="img-responsive" src="http://www.firesidechatmusic.com/artwork/AlbumArt_Blank.jpg" alt="album art">
<br>
                <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
      <span class="sr-only">70% Complete</span>
    </div>
  </div>

                <div>
                    <p id='song-title-ov'>Song Title</p>
                    <p id='song-artist-ov'>&nbsp</p>
                </div>

                <div class="media-buttons">
                    <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-play"></span></button>&nbsp<button id="next-button-ov" type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-forward"></span></button>

                </div>

                <div class="glyphicon glyphicon-volume-off"></div>&nbsp<input id="vol-control" type="range" min="0" max="100" step="1"></input>&nbsp<div class="glyphicon glyphicon-volume-up"></div>

        </div>
</div>
</div>



  </div>
</div>

      <div id="login-pop" class="modal">
         <!--<form class="modal-content animate" action="/action_page.php">-->
         <!-- <div class="container">-->
         <div class="row animate">
            <div class="col-md-6 col-md-offset-3">
               <div class="panel panel-login">
                  <span onclick="document.getElementById('login-pop').style.display='none'" class="close" title="Close Modal">&times;</span>
                  <div class="panel-heading">
                     <div class="row">

                           <a href="#" class="active" id="filter-form-link">Filter</a>

                     </div>
                     <hr>
                  </div>
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-lg-12">
                           <!-- <form id="login-form" method="post" role="form" style="display: block;"> -->
                           <form id="login-form" role="form" style="display: block;">
                              <div class="form-group">
                              <div class="ui-widget">
                                  <!--<label for="tags">Tags: </label>-->
                                  <input id="tags" type="text" name="tag" tabindex="1" class="form-control" placeholder="Tag">
                                  <a href="#" id="add-tag">Add</a>
                                  <p>*Use up and down arrows to autocomplete<p>
                              </div>
                              <ul id="tags-stored">
                                <li></li>
                                </ul>
                              </div>
                              <div class="form-group text-center">
                                 <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                 <label for="remember"> Remember My Preferences</label>
                              </div>
                              <div class="form-group">
                                 <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                       <input type="submit" name="done-submit" id="done-submit" tabindex="4" class="form-control btn btn-login" value="Done">
                                    </div>
                                 </div>
                              </div>
                           </form>
                           <!-- <form id="register-form" method="post" role="form" style="display: none;"> -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--</div>-->
         <!-- </form>-->
      </div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
  <script src="/js/introHCI.js"></script>
  <script src="/js/songs.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/js/tags.js"></script>
  <script src="/js/tagger.js"></script>

</div>

</body>
</html>
